<%= render partial: 'layouts/header' %>
<div class="row">
  <div class="container">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /row -->

<div class="row">
  <div class="container">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /row -->

<div class="row">
  <div class="container">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/chi6rag/image/upload/v1422796608/242200_hhyxv3.svg" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /row -->

<%= render partial: 'layouts/footer' %>