// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
   font-family: BIG JOHN; 
   src: url('https://s3-us-west-1.amazonaws.com/playableassets/BIG+JOHN.otf');
}

@font-face {
   font-family: slim joe; 
   src: url('https://s3.amazonaws.com/sampleappassets/Slim+Joe.otf');
}

// header

.navbar-inner {
  background: none;
  filter: none;
  border: none;
  box-shadow: none;
}

.dropdown-menu {
  background-color: #2f3739;
}

.navbar {
  border-radius: 0px;
  border: 0px solid #2f3739;
}

.navbar-default {
  background-color: #2f3739;
}


#play {
  text-transform: uppercase;
  color: #7BE058;
  font-family: 'slim joe', sans-serif;
  font-weight: bold;
}

#able {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'BIG JOHN', sans-serif;
}

.navbar .nav > li > a {
  color: white;
  text-shadow: none;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:visited {
  color: white;
}

.navbar .nav > li > a {
  color: white;
  background: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #2f3739;
  color: white;
}

.navbar .nav .active > a:hover {
  background: none;
}

.glyphicon .glyphicon-shopping-cart {
  position: relative; left: -100;
}

#make-it-white {
  color: white;
}